<p>telacadastro works!</p>
<h2>Cadastro de produto</h2>
        <button>Salvar.</button>
        <form>
            <label for="txtNomeProd">Nome:</label>
            <input type="text" id="txtNomeProd" placeholder="Nome do produto">
            
            <label for="txtTipoProd">Tipo:</label>    
            <input type="text" id="txtTipoProd" placeholder="Tipo do produto">

            <label for="txtPreco">Preço:</label>    
            <input type="number" id="txtPreco" placeholder="Preço do pedido">

            <label for="txtDescricaoProd">Descrição do produto:</label>    
            <input type="text" id="txtDescricaoProd" placeholder="Descrição do produto">
        </form>   